<div class="booking-nav">
  <h4>Choose your booking time</h4>
  <hr>
  <h5>Practise</h5>
  <p>From <strong><%= @instrument.price %></strong> €/h</p>
  <h5>Cancellation</h5>
  <p> <strong><%= @instrument.cancellation_policy.name  %></strong></p>
  <hr>
  <!-- disponibility -->
  <%= render './booking_form/booking_form_disponibilities'  %>
</div>