<h3>Choose your booking time</h3>
<hr>
<h4>Practise</h4>
<p>From <%= instrument.price %> </p>
<h4>Cancellation</h4>
<p> <%= instrument.cancellation_policy  %> </p>
<hr>
<!-- disponibility -->
<p><button type="submit" class="button-book">Book now</button></p>