<div class="booking-nav">
  <h4>Choose your booking time</h4>
  <hr>
  <h5>Practise</h5>
  <p>From <strong><%= @instrument.price %></strong> €/h</p>
  <h5>Cancellation</h5>
  <p> <strong><%= @instrument.cancellation_policy.name  %></strong></p>
  <hr>
  <!-- disponibility -->
  <p> <%= render @instrument.disponibilities %> </p>
  <p><button type="submit" class="button-book">Book now</button></p>
</div>