<!-- price-cancellation -->
<div class="price-cancellation">
  <h3 id="disponibility">Price & Cancellation</h3>
  <div class="disponibility">
    <div class="price-from">Practise from <br>
      <strong><%= @instrument.price %></strong> €/h</div>
    <div class="cancellation"> Cancellation <br>
      <strong><%= @instrument.cancellation_policy&.name  %></strong></div>
  </div>
  <!-- disponibility -->
  <%= render './booking_form/booking_form_disponibilities'  %>
</div>