.features_list {
  padding: 15px;
  list-style: none;
}

.send-formular {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.disponibilities {
  margin: 60px 0;
}

.nested-fields {
  margin-bottom: 20px;
  width:100%;
}


.remove-disponibility {
  text-decoration: underline;
  width:20%;

}
