.features_list {
  padding: 15px;
  list-style: none;
}
.send-formular {
  @media screen and (max-width: 1527px) {
    margin-bottom: 40%;
  }
}
.remove-disponibility {
  @media screen and (max-width: 1527px) {
    text-decoration: underline;
    width:60%;
  }
}
.disponibilities {
  margin: 60px 0;
}

.nested-fields {
  margin-bottom: 20px;
  width:100%;
}



