@import "show";
@import "edit";

#map {
  height: 90vh;
  position: sticky;
  width:100%;
    @media screen and (max-width: 1527px) {
      //position:absolute;
      height: 30vh;
      width:75%;
      margin-left: 40px;
    }
}
#map-show {
  height: 60vh;
  position: sticky;
  top: 0;
  width:72%;
    @media screen and (max-width: 1527px) {
      position:sticky;
      top:0;
      height: 30vh;
      width:100%;
      margin-bottom:30px;
    }
}
.map-mobile {
  display:none;
    @media screen and (max-width: 1527px) {
      display: flex;
      margin-left:20%;
    }
}
.marker {
  background-image: url('https://docs.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.content {
  display: flex;
   @media screen and (max-width: 1527px) {
      display: flex;
      flex-direction:column;
      justify-content: center;
      margin-bottom: 0;
      margin-top: 5rem;
   }
}
.mapboxgl-canvas {
  pointer-events: none;
}
.cards {
  grid-template-columns: 1fr;
}
.search-result-page{
  margin-left:20%;
  margin-right:10%;
@media screen and (max-width: 1527px) {
margin:auto;
}
}
// style for new-isntrument form ----------

.new-instrument {
  margin-bottom: 150px;
}

.feature-list {
  list-style:none;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.features {
 font-size: 17px;
 color: #9e9e9e;
 font-weight: bold;
 padding-left: 15px;
  li {
    list-style: none;
   }
 }
.features-big-instrument-card {
  display:flex;
  flex-direction:row;
  color:#9e9e9e;
  li {
    list-style: none;
   }
}

 // styles search-overview page

.search-page-desktop {
  display:flex;
    @media screen and (max-width: 1527px) {
      display:none;
    }
}

.search-page-mobile {
  display:none;
    @media screen and (max-width: 1527px) {
      display:flex;
      flex-direction:column;
      margin-left: 30px;
      //margin-top:20%;
    }
}
