.instrument-short-info {
  display: flex;
  width: 800px;
}

.fas {
  position: relative;
  left: 0;
  padding-right: 30px;
  top: 1px;
}

.instrument-short-info-reviews {
  padding-left: 25px;
}

.instrument-short-info-location {
  text-decoration: underline;
}

.instrument-short-info-subtitle {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  width: 72%;
}

.instrument-short-info-owner {
  padding: 20px;

}

.instrument-short-info-description {
  padding: 15px;
}

.hr-instrument-show {
  width: 72%;
  margin: 20px 0;
}

.instrument-short-info-features {
  display: flex;
  justify-content: space-between;
    flex-wrap: wrap;
  padding-top: 30px;
  width: 72%;
}
