// Color scheme variables

$primary: #AC2721;
$primary-hover: #761D1B;
$secondary: #9e9e9e;
$content: #2F2F2F;
$warning: #E5E2DA;
$selection: #94906F;
$alert: #E5CBCA;
$body: #white;
$flash: #CCE5EB;
