.profile-hero{
  // background-color:yellow;
  display:flex;
  justify-content:flex-start;
  padding-top:3rem;
  align-items:center;
  width:100%;
  padding-left: 2rem;
  padding-right: 2rem;
  .fullname{
    margin-left:1rem;
  }
}

