// profile-section CSS

.profile-section {
  margin-top:30px;
  margin-left:50px;
  display:flex;
  flex-direction: row;
    @media screen and (max-width: 1527px) {
      display:flex;
      flex-direction:row;
      width:100vw;
      margin: 10px;
   }
}

.profile-header {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-content: stretch;
    @media screen and (max-width: 1527px) {
       display: flex;
         align-content: stretch;
    }
}

.profile-picutre {
  border-radius: 5px;
}

.profile-greeting h1 {
  margin-top: -10px;
}

.membership {
  margin-left: 30px;
}

.profile-attributes {
  list-style: none;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
    @media screen and (max-width: 1527px) {
      list-style: none;
      display: flex;
      flex-direction:column;
   }
}

.description-empty {
  font-size: 20px;
  color: #2F2F2F;
  font-style: italic;
  width: 40%;
  margin-top: 20px;
  padding: 10px;
}

.profile-description {
  margin: 10px 50px ;
  width:50%;
    @media screen and (max-width: 1527px) {
     margin: 10px 50px ;
     width:80%;
  }
}

//  seperator

hr {
  border:none;
  border-top:1px dotted #2F2F2F;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:80%;
  margin: 20px 50px;
}

// instrument section

.profile-instrument-mobile {
  display:none;
  @media screen and (max-width: 1527px) {
    display:flex;
  }
}

.profile-instrument-desktop {
  display:flex;
    @media screen and (max-width: 1527px) {
      display:none;
  }
}

.instrument-section {
  width:70%;
  margin: 5px ;
  margin-top:30px;
  h2 {
    margin-left: 30px;
  }
   @media screen and (max-width: 1527px) {
    margin: 5px ;
    margin-top:30px;
      h2 {
        margin-left: 30px;
      }
   }
}

.instrument-section-public {
  display: flex;
  margin-left: 50px;
  flex-wrap: wrap;
}

.h2-instrument-section-public {
    margin: 30px 50px;
}


.instruments {
  display:flex;
  border-radius: 5px;
  height: 350px;
  margin: 30px 50px 70px;
  @media screen and (max-width: 1527px) {
    display:flex;
    border-radius: 5px;
    height: 250px;
    margin-top: 30px;
    margin-left: 50px;
  }
}

.edit-instrument {
  display: flex;
  width: 60%;
  flex-direction:row;
  justify-content: space-around;
  @media screen and (max-width: 1527px) {
    display: flex;
    width: 250px;
    margin-left: 70px;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: space-around ;

  }
}

.add-new-instrument {
  display: flex;
  justify-content: left;
  width:100vw;
  height: 60px;
  margin-left: 50px;
  padding: 10px;
}


// review-section CSS

.review-section {
  margin-left: 50px;
  padding: 20px;
}

.reviews {
   display: flex;
   margin-left: 15px;
   margin-top: 15px;
}

.review-attributes {
   list-style: none;
}

.review-content {
  margin-top: 5px;
  margin-left: 15px;
}

// public profile style

.public-footer {
  height: 100%;
}
