// own-profile-page
.profile-section {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 1527px) {
      display:flex;
      flex-direction:column;
      align-items: center;
      text-align:center;
      padding:15px;
      width:100vw;
   }
}

.profile-picture {
  border-radius: 5px;
  @media screen and (max-width: 1527px) {
    margin: 20px;
  }
}

.profile-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 20px;
  @media screen and (max-width: 1527px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.profile-header h1 {
  margin-top: -25px;
}

.profile-header p {
  margin-left: 25px;
}
.membership{
  margin-left:20px;
  width:60%;
  @media screen and (max-width: 1527px) {
    width:100%;
  }
}
.profile-attributes {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left:20px;
  width:60%;
    @media screen and (max-width: 1527px) {
      list-style: none;
      margin-left:0;
      display: flex;
      flex-direction:row;
      width:100%;
   }
}

.instrument-short-info-description {
  width:90%;
  @media screen and (max-width: 1527px) {
    margin-bottom: 80%;
  }
}

.profile-description {
  width:70%;
    @media screen and (max-width: 1527px) {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:100%;
  }
}

// profile-menu cards under profile description
.profile-menu-container {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 70%;
  @media screen and (max-width: 1527px) {
    width: 100%;
    flex-wrap: wrap;
  }
}

.profile-menu {
  -webkit-box-pack: justify !important;
  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  width: 20% !important;
  height: 80px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 5px;
  padding: 16px !important;
  text-decoration: none !important;
  @media screen and (max-width: 1527px) {
    width: 100% !important;
    text-align: center !important;
    padding-top: 30px !important;
    margin: 2px;
  }
}

.profile-menu:hover {
  background-color: #EBEBEB;
}

// instrument-cards displaying own instruments
.instrument-section {
  margin: 5px;
  margin-top: 5%;
  width: 60%;
  @media screen and (max-width: 1527px) {
    margin: 5px;
    margin-top: 30px;
    margin-left: 15px;
  }
}

// edit instrument menu
.edit-instrument {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 45%;
  height: 220px;
  @media screen and (max-width: 1527px) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.section-instrument-bookings {
  color: #1b1b1b;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  text-align: center;
}

.section-instrument-bookings:hover {
  background-color: #EBEBEB;
  color: #1b1b1b;

}

.section-instrument-bookings a {
  color: black !important;
}

// profile description instrument-show
.profile-short-description-header {
  display: flex;
  flex-direction: column;
  width: 60%;
  @media screen and (max-width: 1527px) {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-content: stretch;
  }
}

.profile-short-description {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 80%;
  @media screen and (max-width: 1527px) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    margin: 10px;
  }
}

//
//  to check if still in use

.description-empty {
  font-size: 20px;
  color: #2F2F2F;
  font-style: italic;
  width: 40%;
  margin-top: 20px;
  padding: 10px;
  @media screen and (max-width: 1527px) {
    display: flex;
    justify-content: center;
    width: 80%;
  }
}

//  seperator
hr {
  border: none;
  border-top: 1px dotted #2F2F2F;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 80%;
  margin: 20px 50px;
}

.profile-instrument-mobile {
  display: none;
  @media screen and (max-width: 1527px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-top: 20px;
  }
}

.profile-instrument-desktop {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  @media screen and (max-width: 1527px) {
    display: none;
  }
}

.instrument-section-public {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 1527px) {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 85%;
  }
}

.h2-instrument-section-public {
  margin: 30px 50px;
}

.instruments {
  display: flex;
  border-radius: 5px;
  height: 350px;
  margin: 30px 50px 70px;
  @media screen and (max-width: 1527px) {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 250px;
    margin-top: 20px;
  }
}

.section {
  margin-left: 10%;
  width: 100%;
}

.add-new-instrument {
  display: flex;
  justify-content: left;
  width: 100vw;
  height: 60px;
  margin-left: 50px;
  margin-bottom: 10px;
  padding: 10px;
  @media screen and (max-width: 1527px) {
    display: flex;
    justify-content: left;
    width: 100vw;
    height: 60px;
    margin-left: 50px;
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 0px;
  }
}

// own-booking-section

.booking-confirmed {
  display: block;
  color: #3293a4;
  font-size: 24px;
  font-style: italic;
}

.booking-pending {
  color: #761D1B;
  font-style: italic;
  font-size: 24px;
  width: 100%;
  margin: auto;
  display: grid;
  flex-direction: column;
  justify-content: center;
}

// review-section CSS

.review-section {
  margin-left: 50px;
  padding: 20px;
  @media screen and (max-width: 1527px) {
    width: 100%;
    margin-left: 0;
    padding: 0;
  }
}

.review-section h2 {
  @media screen and (max-width: 1527px) {
    padding-left: 0px;
  }
}

.reviews {
  display: flex;
  margin-left: 15px;
  margin-top: 15px;
}

.review-attributes {
  list-style: none;
}

.review-content {
  margin-top: 5px;
  margin-left: 15px;
}

// public profile style

.public-footer {
  height: 100%;
}
