<ul class="footer-links">
    <li><a href="#">Site Notice</a></li>
    <li><a href="#">Data Protection</a></li>
    <li><a href="#">Cookie Settings</a></li>
    <li class="instagram-icon"><a href="#"><%= render "./icons/instagram_icon" %></a></li>
</ul>


