<ul class="footer-links" >
  <li><%= link_to "Site Notice", site_notice_path %></li>
  <li><%= link_to "Data Protection", data_protection_path %></li>
  <li><%= link_to "Cookie Settings", cookie_settings_path %></li>
  <li class="instagram-icon"><a href="#"><%= render "./icons/instagram_icon" %></a></li>
</ul>