<!-- navigation -->
<div class="header">

<!-- menu -->
  <div class="navigation">
    <div class="fixed-top">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-white p-4">
          <h5 class="text-content h4"> Menu</h5>
          <p><span class="text-muted">Log in</span><br>
            <span class="text-muted">Sign up</span><br>
            <span class="text-muted">Account</span>
          </p>
        </div>
      </div>
      <nav class="navbar navbar-light bg-content">
        <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon bg-white"></span>
        </button>
      </nav>
    </div>
</div>

<!-- logo & profile -->
  <div class="navigation-elements">
      <%= link_to image_tag('logo.png', height: '65', width: '75'), {action: 'home', controller: 'pages'},:class => "logo" %>

    <%= image_tag 'svg/profile.svg', :class => "profile", height: '40', width: '40' %>
  </div>
</div>
