<!-- Head Section -->
<% content_for :head do %>
  <title> About Dueth | Dueth.com </title>
  <meta name="description" content="Dueth.com operates an online marketplace for renting instruments between private persons on a flexible date range.
Find out more baout the service!"/>
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="https://www.dueth.com/about"/>
<% end %>
<div class="container">
  <h1>About Dueth</h1>
  <hr>
  <p>Dueth.com arose from two passions:</p>
  <li>The first one: enjoying to play an instrument. </li>
  <li>The second one: travelling.</li>
  <br>
  <h2>The Dueth Story</h2>
  <p>While travelling we have mostly time to practise our instrument of choice alongside our travelling experiences. Furthermore, practising an instrument on a journey can lead to a multi-facetted travel experience. We are not playing our instrument in familar surroundings, but in new buildings with new views, meetings new people and handling different instruments. This enrichment of travel and music experience is something special. At the same time it is rather difficult to find easily an instrument to practise. Also, we don't want to invest our precious time of travel into intense research and time consuming driving or high costs to get an instrument to practise for a few hours.
    Thus Dueth.com has as an objective to meet these needs:</p>
  <ul>
    <li>Easy to get instrument for practise</li>
    <li>Enriching music and travel experiences</li>
    <li>Connection music enthousiasts all over the world.</li>
  </ul>
  <p>Find here the most popular instrument cities to book:</p>
  <ol class="content-links"><%= link_to("Piano Rent Paris", "http://localhost:3000/instruments/piano/paris") %></ol>
  <ol class="content-links"><%= link_to("Piano Rent Munich", "http://localhost:3000/instruments/piano/munich" ) %></ol>
</div>