<!-- Head Section -->
<% content_for :head do %>
  <title> FAQ | Dueth.com </title>
  <meta name="description" content="Frequently asked questions regarding the instrument rental through Dueth.com. How long can you rent an instrument? How can you offer your instrument... and many more questions."/>
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="https://www.dueth.com/faq"/>
<% end %>
<div class="container">
  <h1>FAQ's</h1>
  <h2>What is Dueth.com?</h2>
  <p class="content-links">Find out more about Dueth.com on our <%= link_to("About Us", about_path) %> Page</p>
  <h2>Do I need to register for Dueth.com?</h2>
  <p class="content-links">In order to book an instrument or if you want to offer an instrument, you will need to
    <%= link_to("create your own profile", new_user_registration_path) %>
    on Dueth.com</p>
  <h2>How can I rent an Instrument?</h2>
  <ul>
    <li>1. Search for an instrument</li>
    <li>2. On the search result page click on a instrument you are interested in.</li>
    <li>3. Look for availabilities of that instrument and choose your preferred disponibility.</li>
    <li>4. Book the instrument on your preferred time</li>
    <li>5. The instrument owner will confirm your booking, if everything works out as planned.</li>
    <li>6. As soon as the booking gets confirmed, your payment will be transferred to Dueth.com and payed to the instrument owner, as soon as the practise took place.</li>
    <li>7. You will then get the address of the instrument. Please show up ponctual on the requested time and be respectful to the instrument owner, the instrument and his home.</li>
    <li>8. After your instrument practise, you can leave a review for that instrument</li>
  </ul>
  <h2>For how long can I rent an instrument?</h2>
  <p>On the instrument description, under "disponibilities" you will find a choice of timeframes of when and for how long to book an instrument. It can actually depend. You can book an instrument for a few hours, but also for a longer period, such as months.</p>
  <h2>How can I offer an instrument?</h2>
  <p>Please, register a profile. As soon as your profile page is set up, you can offer your own instrument.</p>
  <h2>Can I pause an instrument I already offered?</h2>
  <p>You can pause and even delete an instrumnt, whenever you like. Instruments, which already have been booked will automatically send a cancellation notice to the users who booked it.</p>
  <h2>Will I need to pay for an instrument on which I want to practise?</h2>
  <p>You will be charged the price an instrument owner set up for the practise time + additionally 0,5 % of comission per booking for each booking unit and total price.</p>
  <h2>Do I need to pay for registering an instrument?</h2>
  <p>You don't need to pay anything for registering a profile and setting up your instruments.</p>
  <h2>What music instruments do you have?</h2>
  <p>The selections of instruments on this page vary depending on instrument owners who put their instruments online. Basically all kind of instruments are possible to book: pianos, drums, strings...</p>
</div>