<!-- Head Section -->
<% content_for :head do %>
  <title> Find your music instrument to practise close by | Dueth.com </title>
  <meta name="robots" content="index, follow" />
  <meta name="description" content="Looking for an easy way to get access to an instrument to practise? Search with Dueth.com for instruments close by and practise wherever you are. Find your next practise instrument now!"/>
<% end %>

<!-- Body -->

<h1>Explore music instruments nearby</h1>

  <%= render 'components/instrument_card_big' %>
