<br>
<div class="own-bookings">
  <% @instrument.bookings.requested_by(current_user.id).each do |booking| %>
    <p>
      <ul>
        <li> <%= booking.booking_timeframe %></li>
      </ul>
    </p>
    <% if booking.accepted? %>
      <h4>Booking confirmed!</h4>
      <%= link_to 'Cancel booking', instrument_booking_path(@instrument,booking), method: :delete , class:"button-primary" %>
    <% elsif booking.status.zero? %>
      <h5 style="color:#3293a4;">Status: pending...</h5>
      <ul>
        <p>Owner <%= @instrument.user.first_name %> needs to confirm your booking! </p>
      </ul>
      <%= link_to 'Cancel booking', instrument_booking_path(@instrument,booking), { method: :delete, class:"button-alert" }  %>
    <% end %>
  <% end %>
</div>