// booking-section on user-profile: received bookings

.booking-section {
  width:80%;
  margin: 0 50px ;
  background-color: #b5b193;
  padding: 10px 40px;
}

.booking-section-header {
  background-color: #white;
  margin-left: 50px;
  padding: 20px;
}

.booking-tabs {
  margin-left: 50px;
  border-style: none;
}

.nav-link.active {
  background-color: #878467;
  color: white;
}

.first-nav {
  border: 1px solid #878467;
}

.second-nav {
  border: 1px solid #878467;
}

.tab-content {
  width: 50%;
  background-color: #878467;
  margin-left: 50px;
  padding: 15px;
}

.booking-profile {
 display: flex;
 padding: 15px;

}
// booking-section on user-profile: other bookings
.booking-info {
  margin-left: 20px;
  width:60%
}

// booking-section on user-profile: own bookings

.own-booking-section {
  margin-bottom: 60px;
}

// booking-nav (instrument-show-page)

.booking-nav {
  position: absolute;
  top: 200px;
  right: 80px;
  width: 400px;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  @media screen and (max-width: 1527px) {
    display: none;
  }
}

// booking-now (instrument show page, booking-nav, disponibilities show page)

.book-now {
 display: flex;

}

.booking-button {
  white-space: nowrap;
 font-size: 15px;
}

.own-bookings {
  margin-left: 15px;
}
