// booking-section on user-profile: received bookings

.booking-section {
  width:80%;
  margin: 0 50px ;
  background-color: #b5b193;
  padding: 10px 40px;
    @media screen and (max-width: 1527px) {
    width:100%;
  }
}

.booking-section-header {
  background-color: #white;
  margin-top:10px;
  padding: 20px;
  @media screen and (max-width: 1527px) {
    width:100%;
    padding: 0;
    margin-bottom:20px;
    margin-top:0px;
  }
}

.booking-tabs {
  margin-left: 50px;
  border-style: none;
    @media screen and (max-width: 1527px) {
      margin-left:5px;
    }
}

.nav-link.active {
  background-color: #878467;
  color: white;
}

.first-nav {
  border: 1px solid #878467;
}

.second-nav {
  border: 1px solid #878467;
}

.tab-content {
  width: 50%;
  background-color: #878467;
  margin-left: 50px;
  padding: 15px;
  @media screen and (max-width: 1527px) {
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-left:0;
    margin-bottom: 20px;
  }
}
// booking-section on user-profile: other bookings
.booking-profile {
 display: flex;
 justify-content:flex-start;
 padding: 15px;
  @media screen and (max-width: 1527px) {
    display: flex;
    flex-direction:column;
    width: 100%;
  }
}
.booking-info {
   flex-direction:column;
   padding:20px;
  @media screen and (max-width: 1527px) {
         margin-top: 15px;
       }
}

// booking-section on user-profile: own bookings

.own-booking-section {
  margin-bottom: 60px;
}

// booking-nav (instrument-show-page)

.booking-nav {
  position: absolute;
  top: 200px;
  right: 80px;
  width: 400px;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  @media screen and (max-width: 1527px) {
    display: none;
  }
}

.price-cancellation {
  margin-top: 30px;
   @media screen and (max-width: 1527px) {
    display:inline-block;
   }
}

.price-from {
  margin-right: 30px;
  -webkit-box-pack: justify !important;
  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #94906F;
  color: white;
  padding:10px;
  margin-left: 5px;
  text-decoration: none !important;
  width: 50%;
   @media screen and (max-width: 1527px) {

   }
}

.cancellation {
    -webkit-box-pack: justify !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding:10px;
    margin-left: 5px;
    text-decoration: none !important;
    background-color: #94906F;
    color: white;
     width: 60%;
     @media screen and (max-width: 1527px) {

   }
}
// booking-now (instrument show page, booking-nav, disponibilities show page)

.book-now {
 display: flex;

}

.booking-button {
 white-space: nowrap;
 font-size: 15px;
}

.own-bookings {
  margin-left: 15px;
}

.disponibility {
  display:flex;
  width:70%;
  padding:15px;
  justify-content: space-between;
  @media screen and (max-width: 1527px) {
    width:100%;
    justify-content: space-around;
  }
}



table, th, td {
   border:1px solid black;
   margin-bottom:15px;
}

th {
  background-color:#94906F;
}

table {
  width: 80%;
  margin: 0 0 10rem 2rem;
}

// instrument_bookings_table
.status {
  padding: 15px;
  display:flex;
  justify-content:space-around;
}
.body_main{
  margin: 0 0 5rem 0;
}
.c-checkbox{
  width: 40px;
  height: 40px;
  background-color: darkred;
}