.button-primary {
  color: white;
  text-align: center;
  background-color: #761D1B;
  border-color: #761D1B;
  height: 40px;
  padding: 5px 15px;
}
.button-primary:hover {
 background-color:#AC2721;
 border-color: #AC2721;
 color: white;
}
.edit-profile {
  display: flex;
 margin-top: 30px;
}
.button-edit-profile {
  color: white;
  text-align: center;
  background-color: #761D1B;
  border-color: #761D1B;
  padding: 15px;
  width: 100%;
}
.button-edit-profile:hover {
  background-color:#AC2721;
  border-color: #AC2721;
  color: white;
}
.button-secondary {
  color: #2F2F2F;
  background-color: white;
  border-color:  #94906F;
  border-width: medium;
  padding: 5px 15px;
  height: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align:center;
  margin-bottom:5px;
}

.button-secondary:hover{
  background-color:#EBEBEB;
  color: #2F2F2F;
  box-shadow: 0 0 0px rgba(0,0,0,0.2);
}
.edit-instrument-button {
  color: #2F2F2F;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  text-align: center;
  margin-top:5%;
}
.edit-instrument-button:hover {
 background-color:#EBEBEB;
 color: #2F2F2F;
 box-shadow: 0 0 0px rgba(0,0,0,0.2);
}
.pause-instrument-button {
  color: white;
  background-color: #761D1B;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  text-align: center;
}
.pause-instrument-button:hover {
 background-color:#AC2721;
 color: white;
 box-shadow: 0 0 0px rgba(0,0,0,0.2);
}
.delete-instrument-button{
  color:#761D1B;
  padding: 10px;
  text-align: center;
}
.delete-instrument-button:hover{
 color:#AC2721;
}
.button-form {
  margin: 15px;
  width: 40%;
  height: 30px;
}
.edit-review-button{
  color: white;
  text-align: center;
  background-color: #761D1B;
  border-color: #761D1B;
  height: 40px;
  padding: 5px 15px;
  width:100%;
}
.edit-review-button:hover {
  background-color:#AC2721;
  border-color: #AC2721;
  color: white;
}
.delete-review-button{
  color:#761D1B;
  padding: 10px;
  text-align: center;
}
.delete-review-button:hover{
 color:#AC2721;
}
.button-alert {
  color:#C1DEE3;
  border-width: medium;
  padding: 5px 15px;
  height: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.contact-button {
  color: #2F2F2F;
  background-color: white;
  border-color:  #C4C4C4;
  border-width: medium;
  padding: 5px 15px;
  margin-top:5px;
  height: 40px;
  width: 190px;
}
.button-book {
  color: white;
  background-color: #761D1B;
  border-color:  #761D1B;
  height: 40px;
  padding: 0px 30px;
}
.button-book:hover {
  background-color:#AC2721;
  border-color:  #AC2721;
  color: white;
}
// button on mobile instrument-show-page to show open disponibilities
.disponibility-book-button {
  color: white;
  background-color: #761D1B;
  border-color:  #761D1B;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 5px;
  width: 100%;
}
.disponibility-book-button:hover {
 background-color:#AC2721;
 color: white;
}
