.mobile-footer {
  display:none;
    @media screen and (max-width: 1527px) {
      display:flex;
      flex-direction:column;
      width:100vw;
      position: fixed;
    }
}
.choose-your-practise-time {
  display:none;
  @media screen and (max-width: 1527px) {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    width:100vw;
    padding-right:20px;
    padding-top:8px;
    box-shadow: 0 0 0.4em #9e9e9e;
    background: white;
  }
}
.footer-mobile-navigation {
  display:none;
    @media screen and (max-width: 1527px) {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      font-size: 19px;
      background-color: #9e9e9e;
      padding:10px;
      padding-right:20px;
      a {
        color: #761D1B;
      }
      a:hover{
        text-decoration: none;
        color: #AC2721;
      }
      .icon-mobile {
        color: #761D1B;
      }
    }
}
.footer-mobile-legal {
  display:none;
    @media screen and (max-width: 1527px) {
      display: flex;
      width: 100vw;
      bottom:0;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      font-size: 14px;
      color:white !important;
      background-color: #000;
  }


}
.footer-main{
  position: fixed;
  bottom: -60px;
  width: 100vw;
}
