footer {
  position: absolute;
  background-color: #000;
  width: 100vw;
  height: 65px;
}

.footer-links {
  width: 100vw;
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 19px;
  margin-bottom: 0px;
}

.instagram-icon {
  margin-right: 15px;
}

footer a {
 color: $warning;
}

footer a:hover {
  text-decoration: none;
  color: $warning;
}
