footer {
  background-color: #2F2F2F;
  width: 100vw;
  height: 60px;
  position:relative;
  bottom:0;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: baseline;
  color:#C4C4C4;
  list-style: none;
}
