footer {
  bottom:0;
  background-color: #2F2F2F;
  width: 100vw;
  height: 60px;
  position:relative;

}

.footer-links {
  bottom:0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}


a {
  color: $warning;
}
a:hover {
  text-decoration: none;
  color: $warning;
}
