.image-container-small {
  position: relative;
  width: 250px;
}

.col {
  margin-bottom:50px;
}

.instrument-card-image {
  filter: brightness(70%);
  @media screen and (max-width: 1527px) {
width:100%;
height: auto;
  }
}

//.fas {
//  position: absolute;
//  top: 15px;
//  left: 15px;
//}
//
//.far {
//  position: absolute;
//  top:15px;
//  right: 15px;
//  color: #bf0202;
//  box-shadow: white;
//}

.icons-main {
  position: absolute !important;
  top: 15px !important;
  right: 15px !important;
  color: #bf0202;
  box-shadow: white;
}

.location {
  position: absolute;
  left: 35px;
  top: 10px;
}
.header-image-small {
  color: white;
  font-size: 19px;
  right: 0; top: 1em;
}

.span-headline {
  margin-left:5px;
  font-size: 18px;
  font-weight: bold;
}

.overview-small {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 250px;
  position:relative;
  top:-20px;
}

.rating {
  height: 15px;
  width: 15px;
  margin:5px;
  margin-right:10px;
}

.rating-color {
color: #FDCC0D;
}

.price {
  color: #AC2721;
}

a {
  color: $content;
}
a:hover {
  text-decoration: none;
  color: $content;
}
.dropdown-feature-img{
  width: 250px;
}
.btn-outline-primary.dropdown-toggle {
width: 10rem;
}
.btn-outline-primary.dropdown-toggle.dropdown-menu {
  transform: translate3d(733px, 533px, 0px);
}
.dropdown-menu li:hover{
  background-color: #dbdde1;
}