.image-container {
  position: relative;

}

.instrument-card-image {
  filter: brightness(50%);
}

.fas {
position: absolute;
top: 15px;
left: 15px;

}

.far {
  position: absolute;
  top:15px;
  right: 15px;
  color: #bf0202;
  box-shadow: white;
}

.location {
  position: absolute;
  left: 35px;
  top: 10px;

}
.header-image {
  color: white;
  font-size: 19px;
  right: 0; top: 1em;
}


.span-headline {
  font-size: 18px;
  font-weight: bold;
}

.overview {
  display: flex;
  justify-content: space-between;
  bottom: 50%;
  transform: translatey(50%);
}

.rating {
  height: 15px;
  width: 15px;
}

.price {
  color: #AC2721;
}

a {
  color: $content;
}
a:hover {
  text-decoration: none;
  color: $content;
}


