.image-container-big {
  position: relative;
  width: 800px;
}

.fas {
  position: absolute;
  top: 17px;
  left: 15px;
}

.location {
  position: absolute;
  left: 35px;
  top: 10px;
  margin-left:10px;
}

.header-image-big {
  color: white;
  font-size: 26px;
  right: 0;
  top: 1em;
  height:0;
}

.overview-big {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 800px;
  bottom: 50%;
  transform: translatey(50%);
  font-size: 26px;
}

.fa-star {
  position: absolute;
  left: 260px;
  top: 5px;
  height: 15px;
  width: 15px;
}

.button-book {
  color: white;
  background-color: #AC2721;
  border-color:  #AC2721;
  height: 40px;
  padding: 0px 30px;
}

.section-instrument-bookings {
    -webkit-box-pack: justify !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    width: 100% !important;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 10%;
    padding: 16px !important;
    text-decoration: none !important;
}

