.image-container-big {
  position: relative;
  width: 800px;
  margin-top: 40px;
}

.location {
  position: absolute;
  margin-top:10px;
}

.card-headline {
  position: absolute;
  margin-left:30px;
  margin-top:10px;
}

.header-image-big {
  color: white;
  font-size: 26px;
  right: 0;
  top: 1em;
  height:0;
}

.overview-big {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 800px;
  transform: translatey(50%);
  font-size: 16px;
}

.button-book {
  color: white;
  background-color: #AC2721;
  border-color:  #AC2721;
  height: 40px;
  padding: 0px 30px;
}

.fa-heart {
position: relative;
top:0;
color: yellow;
}



.instrument-card-rating {
  display: flex;
  align-itms: center;
}

.card {
  margin: 1rem 1rem 1rem 0rem !important;
  height: 250px;
  width: 250px;
}
.cards img {
  width: 100%;
  object-fit: cover;
}
.cards-wrapper {
  display: flex;
  transition: ease 0.5s;
}
.display-area {
  width: 100%;
  overflow-x: hidden;
}

.dots-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
}

.dot {
  border: none;
  background: rgba(0, 0, 0, 0.2);
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
  outline: none;
}
.dot:hover {
  background: rgba(0, 0, 0, 0.3);
}
.dot.active {
  background: rgba(0, 0, 0, 0.5);
}