.image-container {
  position: relative;
  height: 250px;
  width: 250px;


}

.instrument-image {
  filter: brightness(50%);

}

.fas {
  position: absolute;
  color: white !important;
}

.far {
  position: absolute;
  color: white !important;
}

.location {
    position: absolute;
    color: white !important;
}
// .header-image {
//   position: absolute;
//   display: flex;
//   justify-content: space-between;
//   color: white;
//   font-size: 19px;

// }


.span-headline {
  font-size: 18px;
  font-weight: bold;
}

.overview {
  display: flex;
  justify-content: space-between;
  bottom: 50%;
  transform: translatey(50%);
}

.rating {
  height: 15px;
  width: 15px;
}

.price {
  color: #AC2721;
}
