.image-container-small {
  position: relative;
  width: 250px;
}

.col {
  margin-bottom:50px;
}

.instrument-card-image {
  filter: brightness(70%);
}

.fas {
  position: absolute;
  top: 15px;
  left: 15px;
}

.far {
  position: absolute;
  top:15px;
  right: 15px;
  color: #bf0202;
  box-shadow: white;
}

.location {
  position: absolute;
  left: 35px;
  top: 10px;
}
.header-image-small {
  color: white;
  font-size: 19px;
  right: 0; top: 1em;
}

.span-headline {
  font-size: 18px;
  font-weight: bold;
}

.overview-small {
  display: flex;
  justify-content: space-between;
  width: 250px;
  bottom: 50%;
  transform: translatey(50%);
}

.rating {
  height: 15px;
  width: 15px;
}

.price {
  color: #AC2721;
}

a {
  color: $content;
}
a:hover {
  text-decoration: none;
  color: $content;
}

.button-primary {
  color: white;
  background-color: #AC2721;
  border-color:  #AC2721;
  padding: 5px 15px;
  height: 40px;
}
