// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";
@import "tui-calendar";
@import "tui-date-picker/dist/tui-date-picker.css";
@import "tui-time-picker/dist/tui-time-picker.css";
@import "toastr";

// Your CSS partials
@import "components/alert";
@import "components/avatar";
@import "components/booking";
@import "components/buttons";
@import "components/card";
@import "components/disponibilities";
@import "components/footer-desktop";
@import "components/footer-mobile";
@import "components/index";
@import "components/instrument-card-big";
@import "components/instrument-card-small";
@import "components/navbar";

@import "instruments/edit";
@import "instruments/index";
@import "instruments/show";

@import "pages/home";
@import "pages/index";
@import "pages/profile";
@import "pages/signup";
@import "buttons";
@import 'tui-date-picker/dist/tui-date-picker.css';
@import 'tui-time-picker/dist/tui-time-picker.css';

// general style
section {
  padding-bottom: 115px;
  width:80%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

h1 {
  margin-top: 5%;
    @media screen and (max-width: 1033px) {
      text-align: center;
    }
}
