// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "components/instrument-card-small";
@import "components/instrument-card-big";
@import "components/footer-desktop";
@import "components/card";
@import "components/buttons";
@import "components/booking";

@import "instruments/index";
@import "instruments/show";

@import "pages/index";
@import "pages/home";
@import "pages/profile";


// general style
section {
  padding-bottom: 115px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

