<div class="nested-fields">
  <%= f.input :from, label: "Starts at:", as: :string, input_html: { class: "datepicker" } %>
  <%= f.input :to, label: "Ends at:", as: :string, input_html: { class: "datepicker" } %>
  <div class="remove-disponibility"> <%= link_to_remove_association "remove disponibility", f %></div>
</div>