<% content_for :head do %>
  <title>Edit a Instrument | Dueth.com</title>
  <meta name="robots" content="noindex, nofollow"/>
<% end %>
<div class="container padding-form mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <% if @instrument.errors.messages.present? %>
        <ul> Please fix the following errors:
          <% @instrument.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <h1>Edit your Instrument</h1>
      <%= render 'form' %>
      <br>
    </div>
  </div>
</div>