<h1>Favourites Instrument</h1>
<div class="container">
  <div class="row align-items-center instr-cards-row" style="height: 100vh">
    <%= render 'components/instrument_card_small' %>
  </div>
</div>