<div id="calendar" style="height: 600px;"></div>
<script>
  eventsData = []
  <% @instrument_availabilities.each do |availability| %>
    eventsData.push({
      id: "<%= availability.id %>",
      start: "<%= availability.start_datetime %>",
      end: "<%= availability.end_datetime %>",
      title: "<%= availability.instrument.title %>"
    })
  <% end %>
  const container = document.getElementById('calendar');
  const options = {
    defaultView: 'month',
    timezone: {
      zones: [
        {
          timezoneName: 'Asia/Seoul',
          displayLabel: 'Seoul',
        },
      ],
    }
  };
  const calendar = new Calendar(container, options);
  calendar.createEvents(eventsData);
  calendar.setTheme({
    common: {
      gridSelection: {
        backgroundColor: 'rgba(81, 230, 92, 0.05)',
        border: '1px dotted #515ce6',
      },
    },
  });
</script>
